<div id="body-kind">
  <div id="login">
    <h3 class="text-center" style="color:aliceblue">Welcome to Admin Panel</h3>
    <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6 col-md-offset-3">
          <div id="login-box" class="col-md-12">
            <form
              id="login-form"
              class="form"
              [formGroup]="loginForm"
              (ngSubmit)="login()"
            >
              <h3 class="text-center text-info">Login</h3>
              <div class="form-group">
                <label for="username" class="text-info">Username:</label><br />
                <input
                  type="text"
                  name="username"
                  id="username"
                  class="form-control"
                  formControlName="username"
                />
                <div *ngIf="submitted && lf.username.errors">
                  <div *ngIf="lf.username.errors.required">
                    Username is required
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="password" class="text-info">Password:</label><br />
                <input
                  type="text"
                  name="password"
                  id="password"
                  class="form-control"
                  formControlName="password"
                />
                <div *ngIf="submitted && lf.password.errors">
                  <div *ngIf="lf.password.errors.required">
                    Password is required
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input
                  type="submit"
                  name="submit"
                  class="btn btn-success btn-md"
                  value="Login"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
