  <nav class="nav-sidebar">
    <ul class="nav">
      <li id="">
        <a
          routerLink="/home/dashboard"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span>Dashboard</span>
        </a>
      </li>
      <li id="">
        <a
          routerLink="/home/user"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span>Users</span>
        </a>
      </li>
      <li id="">
        <a
          routerLink="/home/sub-admin"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span>Sub Admins</span>
        </a>
      </li>
      <li id="">
        <a
          routerLink="/home/message"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span>Messages</span>
        </a>
      </li>
    </ul>
  </nav>
