<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="color: #fff;" routerLink="/home/dashboard">Admin Panel</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" style="color: #fff;" data-toggle="dropdown">{{userdata.name}}
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li>
            <a class="pointer" (click)="logoutAdmin()">
              Logout
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>